html {
    width: 100%;
    height: 100%;
}
body {
    width: 99%;
    display: block;
}
.rand {
    stroke-dasharray: 500;
    stroke-width: 25px;
    stroke: rgb(45, 45, 153);
    transition: 0.50s stroke-dashoffset linear;
}
.body {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}
.blokje {
    background-color: lightgray;
    margin: 5px;
    padding: 40px;
    display: block;
    width: 90%;
}
.SVGAnimatie {
    position: absolute;
}



